<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyFirstWebProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDetailServlet</display-name>
    <servlet-name>CustomerDetailServlet</servlet-name>
    <servlet-class>CustomerDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDetailServlet</servlet-name>
    <url-pattern>/CustomerDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDetailsServlet</display-name>
    <servlet-name>CustomerDetailsServlet</servlet-name>
    <servlet-class>com.CustomerDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDetailsServlet</servlet-name>
    <url-pattern>/CustomerDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloServletInvalid</display-name>
    <servlet-name>HelloServletInvalid</servlet-name>
    <servlet-class>HelloServletInvalid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServletInvalid</servlet-name>
    <url-pattern>/HelloServletInvalid</url-pattern>
  </servlet-mapping>
</web-app>